<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="views/index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <form class="border" action="../views/extra-home.ejs">
        <span class="Welcome-">Welcome !</span>
        <span class="Sign-in-to">Login in to</span>
        <br>
        <span class="tlqkf">Now come get some new ideas</span>
        <br>
        <span class="gotothesign" Onclick="location.href='views/extra-membergaib.ejs'">Go to the sign up!</span>
        <div class="classroom"></div>

        <div class="username">
            <span class="Un">User name</span>
                <input autocomplete="off" class="inputu" placeholder="Enter your user name" required id="name">
        </div>

        <div class="password">
            <span class="ps">password</span>
                <input autocomplete="off" class="inputu" placeholder="Enter your password" minlength="8" maxlength="12" type="password" required id="pw">
        </div>

        <label class="Remember-me"><input type="checkbox" id="coco">Remember me</label>
        
        <button class="Loginbar" id="button"><span class="Login">Login</span></button>
    </form>
</body>
</html>
