<!DOCTYPE html>
<html lang="kr" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <form class="border" action="extra-home.ejs">
        <span class="Welcome-">Welcome !</span>
        <div class="dd"></div>
        <span class="Sign-in-to">Login</span>
        <br>
        <span class="tlqkf">Now come get some new ideas</span>
        <br>
        <span class="gotothesign" onclick="location.href='membergaib.ejs'">Go to the sign up!</span>
        <div class="classroom"></div>

        <div class="usernickname">
            <span class="Un">User nickname</span>
                <input autocomplete="off" class="inputu" placeholder="사용자 이름을 입력하세요" required id="nickname">
        </div>

        <div class="password">
            <span class="ps"></span>
                <input autoco</span>
                <input autocomplete="off" class="inputu" placeholder="비밀번호를 입력하세요" minlength="8" maxlength="12" type="password" required id="pw">
        </div>

        <label class="Remember-me"><input type="checkbox" id="coco">Remember me</label>

        <button class="Loginbar" id="button"><span class="Login">Login</span></button>
    </form>
</body>
</html>
