<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link href="membergaib.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <form method="post" class="border" action="file:///C:/Users/User/Documents/extra/extra-home.html">
        <span class="Welcome-">Welcome !</span>
        <div class="dd"></div>
        <span class="Sign-in-to">Sign in to</span>
        <br>
        <span class="gotothelogin" onclick="location.href='file:///C:/Users/User/Documents/extra/index.html'">GO to Login page!</span>
        <div class="classroom"></div>

        <div class="usernickname">
            <span class="Un">User nickname</span>
                <input autocomplete="off" class="inputu" placeholder="사용자 이름을 입력하세요" required id="nickname">
        </div>

        <div class="username">
            <span class="Un">user name</span>
                <input autocomplete="off" class="inputu" placeholder="이름을 입력하세요" required id="name">
        </div>

        <div class="password">
            <span class="ps">password</span>
                <input autocomplete="off" class="inputu" placeholder="비밀번호를 입력하세요" minlength="8" maxlength="12" type="password" required id="pw">
        </div>

        <div class="classroom2"></div>
        <button class="Loginbar" id="button"><span class="Login">회원가입</span></button>
    </form>
</body>
</html>