.border {
  width: 505px;
  height: 501px;
  padding: 36px 47px 120px 35px;
  border-radius: 10px;
  transform: translate(95%, 20%);
  border: solid 1px black;
}

.gotothesign {
  width: 260px;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: end;
  color: rgb(85, 170, 231);
}

.Welcome- {
  width: 100%;
  height: 38px;
  flex-grow: 0;
  margin: 0 0 29px 0;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Sign-in-to {
  width: 100%;
  height: 47px;
  flex-grow: 0;
  margin: 0 0 1px 0;
  font-family: Poppins;
  font-size: 31px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.tlqkf {
  width: 100%;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: end;
  color: #000;
}

.username {
  width: 100%;
  height: 92px;
  flex-grow: 0;
  margin: 0 0 38px;
}

.Un {
  width: 100%;
  height: 24px;
  margin: 0 0 9px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.inputu {
  width: 100%;
  height: 29px;
  margin: 9px 0 0;
  padding: 19px 27px;
  border-radius: 6px;
  border: solid 0.6px #282828;
  background-color: #fff;
  box-sizing: border-box;
}

.Enter-your-user-name {
  width: 100%;
  height: 29px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ababab;
}

.classroom {
  margin: 20px 0 0;
}

.password {
  width: 100%;
  height: 92px;
  flex-grow: 0;
  margin: 0 0 38px;
}

.ps {
  width: 100%;
  height: 24px;
  margin: 0 0 9px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.inputp {
  width: 100%;
  height: 29px;
  margin: 9px 0 0;
  padding: 19px 27px;
  border-radius: 6px;
  border: solid 0.6px #282828;
  background-color: #fff;
  box-sizing: border-box;
}

.Loginbar {
  width: 100%;
  height: 67px;
  flex-grow: 0;
  margin: 10px 0 0;
  padding: 16px;
  border-radius: 6px;
  background-color: #000;
  color: white;
}

.Login {
  width: 43px;
  height: 24px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.dd {
  margin: 20px 0 0;
}

.Rememebr-me {
  width: 100%;
  height: 18px;
  flex-grow: 0;
  margin: 0 0 0 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

@media all and (max-width: 767px) {
  .border {
      width: 90%;
      padding: 20px;
      transform: translate(0%, 0%);
  }

  .Welcome-,
  .Sign-in-to,
  .tlqkf,
  .Login,
  .gotothesign {
      width: auto;
      margin: 0;
      text-align: center;
  }

  .Un,
  .ps {
      width: 100%;
      height: 50%;
  }

  .inputu,
  .inputp {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      margin: 10px 0;
      height: 50%;
  }

  .Loginbar {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      margin: -25px 0;
  }

  .usernickname {
      margin-top: -20%;
  }
}
